body{
  background-color: #314E52;
  height: 100vh;
}


.imgContainer {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  background-color: #314E52;
  color: #F2A154;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.imgContainer:hover{
  cursor: pointer ;
}

.border{
  border-color: #F2A154!important;
}

a{
  text-decoration: none;
}

nav a{
  color: #314E52!important;
}
header h1 a{
  color: #314E52!important;
}
li{
  list-style-type: none;
}