:root {
    --blueBkg: #314E52;
    --blue: #092640;
    --orange: #F2A154;
    --grey: #E7E6E1;
    --light: #F7F6E7;
  }

body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main {
  overflow: auto;
  flex-grow: 1;
  max-height: 90%;
}

.btn {
    background-color: var(--orange) !important;
    margin: 2px;
}
h1 {
    color: var(--orange) !important;
    margin: 20px !important;
}

h2, h3, h4 {
    color: var(--orange) !important;
}

.dashboardContent {
    width: auto;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0px;
    justify-content: center;
}

.bi {
    margin: 10px;
}

.badgesForUser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listBadge {

}

.icon {
    width: auto;
    height: 50px;
    margin: 10px;
  }


  a img.hover {
    display: none;
  }
  a img.default {
    display: inherit;
  }
  a:hover img.hover {
    display: inherit;
  }
  a:hover img.default {
    display: none;
  }