:root {
    --blueBkg: #314E52;
    --blue: #092640;
    --orange: #F2A154;
    --grey: #E7E6E1;
    --light: #F7F6E7;
  }

.listBadge {
        width: 20px;
        height: auto;
}

.btn {
    background-color: var(--orange) !important;
    margin: 2px;
}
h1 {
    color: var(--orange) !important;
    margin: 20px !important;
}

h2, h3, h4 {
    color: var(--orange) !important;
}

.dashboardContent {
    width: auto;
    display: flex;
    flex-direction: row;
}
.left {
    width: auto;
}
.right {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bi {
    margin: 10px;
}

.badgesForUser {

}